<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>hello</title>

	<link rel="stylesheet" type="text/css" href="static/styles/style.css">
	<script type="text/javascript" src="static/src/hideScript.js" defer="true"></script>
</head>
<body>

	<h1>flask on fire</h1>
	<br>
	<label for="files">files(txt for now)</label><input id="files" type="file" name="file">
	<label for="himgs">image</label><input id="himgs" type="file" name="himage">
	<button id="en">hide</button>
	<br>
	<!-- +++++++++++++++++++ -->
	<label for="uimgs">image</label><input id="uimgs" type="file" name="uimage">
	<button id="de">unhide</button>
</body>
</html>