<!DOCTYPE html>
<html>

<head>
    <title>SMA</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" media="screen" href="style.css">
    <script type="text/javascript" src="script.js" defer="true"></script>
</head>

<body>

    <div class="wrap">
        <h1>SMA</h1>
        <br>
        <label for="files">files</label><input id="files" type="file" name="file">
        <br>
        <label for="himgs">image</label><input id="himgs" type="file" name="himage">
        <button id="en">hide</button>
        <br>
        <br>
        <!-- +++++++++++++++++++ -->
        <label for="uimgs">image</label><input id="uimgs" type="file" name="uimage">
        <button id="de">unhide</button>
    </div>

</body>

</html>