*{
	box-sizing: border-box;
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
}
::-webkit-scrollbar {
  width: 5px;
  border-radius: 50px;

}
/* Handle */
::-webkit-scrollbar-thumb {
  
  border-radius: 50px;
}

body{
	width: 300px;
	height: 450px;
	background-image: linear-gradient(to right, #1A1A1D,#4E4E50 );
	background-repeat: no-repeat;
	color: white;
}
.box1{
	background-color: #6F2232;
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 5px;
}
.box2{
	background-color: #6F2232;
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 5px;
}
.box3{
	margin-top: 20px;
	background-color: #6F2232;
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 5px;
}
button{
	background-color:#4E4E50;
	color: white;
	width: 90px;
	height: 30px;
	border-radius: 5px;
	cursor: pointer;

}
button :hover{
	background-color: white;
	color: black;
}
label{
	font-size: 20px;
	margin-bottom: 10px;
	font-weight: bold;
}